{% extends 'base.html' %}

{% block content %}
<h1>Edit Register</h1>
<form method="POST" action="{{ url_for('edit_register', register_id=register.id) }}" id="edit-register-form">
    <div class="mb-3">
        <label for="register_name" class="form-label">Register Name</label>
        <input type="text" class="form-control" id="register_name" name="register_name" value="{{ register.register_name }}" required>
    </div>
    <div class="row">
        <div class="col-md-3 mb-3">
            <label for="field" class="form-label">Field</label>
            <input type="text" class="form-control" id="field" name="field" value="{{ register.field }}" required>
        </div>
        <div class="col-md-3 mb-3">
            <label for="offset" class="form-label">Offset</label>
            <input type="text" class="form-control" id="offset" name="offset" value="{{ register.offset }}" required>
        </div>
        <div class="col-md-3 mb-3">
            <label for="lsb" class="form-label">LSB</label>
            <input type="text" class="form-control" id="lsb" name="lsb" value="{{ register.lsb }}" required>
        </div>
        <div class="col-md-3 mb-3">
            <label for="width" class="form-label">Width</label>
            <input type="text" class="form-control" id="width" name="width" value="{{ register.width }}" required>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 mb-3">
            <label for="init_value" class="form-label">Init Value</label>
            <input type="text" class="form-control" id="init_value" name="init_value" value="{{ register.init_value }}" required>
        </div>
        <div class="col-md-3 mb-3">
            <label for="access_mode" class="form-label">Access Mode</label>
            <input type="text" class="form-control" id="access_mode" name="access_mode" value="{{ register.access_mode }}" required>
        </div>
        <div class="col-md-3 mb-3">
            <label for="tag" class="form-label">Tag</label>
            <input type="text" class="form-control" id="tag" name="tag" value="{{ register.tag }}" required>
        </div>
    </div>

    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control" id="description" name="description" rows="2" required>{{ register.description }}</textarea>
    </div>
    <button type="submit" class="btn btn-primary">Update register</button>
</form>


{% endblock %}
